{% extends "base.html" %}
{% block body %}
<h3>Your all Punch Outs</h3></br>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }
  </style>

<table>
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Emp Id</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Manual Reading/Ticket Amount</th>
      <th scope="col">Work Status</th>
    </tr>
  </thead>
  <tbody>
      {% for punchout in punch_out %}
    <tr>
      <th scope="row">{{ punchout.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ punchout.date }}</td>
      <td>{{ punchout.time }}</td>
      <td>{{ punchout.from_location }}</td>
      <td>{{ punchout.to_location }}</td>
      <td>{{ punchout.manual_reading }}</td>
      <td>{{ punchout.todays_work }}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock body %}