{% extends "base.html" %}
{% block body %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }
  </style>

<table>
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Emp Id</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Manual Reading/Ticket Amount</th>
      <th scope="col">Today's Work</th>
    </tr>
  </thead>
  <tbody>
      {% for punchin in punch_in %}
    <tr>
      <th scope="row">{{ punchin.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ punchin.date }}</td>
      <td>{{ punchin.time }}</td>
      <td>{{ punchin.vehicle_type }}</td>
      <td>{{ punchin.from_location }}</td>
      <td>{{ punchin.to_location }}</td>
      <td>{{ punchin.manual_reading }}</td>
      <td>{{ punchin.todays_work }}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>{% endblock body %}