{% extends "base.html" %}
{% load templatetags %}
{% block body %}
<h4>Employee Name : {{ user.first_name }} {{ user.last_name }}</h4>
<div class="d-flex flex-row justify-content-between ">
  <p>Emp Id : {{ user.username }}&nbsp;&nbsp;&nbsp;&nbsp; Department : {{ user.employeeprofile.department }}&nbsp;&nbsp;&nbsp;&nbsp;Designation : {{ user.employeeprofile.designation }}&nbsp;&nbsp;&nbsp;&nbsp; Vehicle
    Number
    : {{ user.employeeprofile.vehicle_number }}&nbsp;&nbsp;&nbsp;&nbsp; </p>
  <div class="mx-5">
    <label for="month" class="font-semibold tracking-wide">Change Expenses Month</label>
    <input type="month" id="monthInput" class="rounded-lg" value="{{year}}-{{month}}" max="{% now 'Y-m' %}"
      min="2024-01">
  </div>
</div>
<style>
  table {
    border-collapse: collapse;
    width: 95%;
    margin: 10px 20px
  }

  th,
  td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }

  p {
    margin: 10px 20px
  }

  h4 {
    margin: 10px 20px
  }

  h5 {
    margin: 10px 20px
  }

  span {
    margin: 5px 20px
  }

  .content:before {
    content: "*";
  }

  .text-orange-500 {
    color: #f97316;
    font-weight: 600;
  }

  .text-blue {
    color: #1d4ed8;
    font-weight: bold;
  }
</style>

<table>
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Date</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">Opening KM</th>
      <th scope="col">Closing KM</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Daily KM</th>
      <th scope="col">Ticket</th>
      <th scope="col">Loadging/<br>Boarding </th>

      <th scope="col">Daily <br> Allowance</th>
      <th class="col">Toll/ Fastag/<br>Parking</th>
      <th class="col">Other <br> Expenses</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in expenses %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ entry.expense.date }}</td>
      <td>{{ entry.expense.vehicle_type }}</td>
      <td>{{ entry.expense.morning_reading }}</td>
      <td>{{ entry.expense.evening_reading }}</td>
      <td>
        {{ entry.expense.punchin_from }} To {{ entry.expense.punchin_to }}
      </td>
      <td>
        {{ entry.expense.punchout_from }} To {{ entry.expense.punchout_to }}
      </td>
      <td>{{ entry.expense.daily_km }}</td>
      <td
        class="{% if entry.changes.ticket %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}">
        {{ entry.expense.ticket }}
      </td>
      <td
        class="{% if entry.changes.lodging_boarding %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}">
        {{ entry.expense.lodging_boarding }}
      </td>
      <td
        class="{% if entry.changes.d_a %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}">
        {{ entry.expense.d_a }}
      </td>
      {% if entry.expense.toll_parking %}
      <td
        class="{% if entry.changes.toll_parking %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}">
        {{ entry.expense.toll_parking }}
      </td>
      {% else %}
      <td>0</td>
      {% endif %}
      <td
        class="{% if entry.changes.other_expenses %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}">
        {{ entry.expense.other_expenses }}
      </td>
      <td
        class="{% if entry.changes.daily_cost %} {% if approved.approved %}content{% endif %} text-orange-500 font-bold{% endif %}"
        style="font-weight: 600;">
        {{ entry.expense.daily_cost }}
      </td>
    </tr>

    {% endfor %}
    <tr>
      <th scope="col">Total</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'daily_km' %} KM</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'ticket' %}</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'lodging_boarding' %}</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'd_a' %}</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'toll_parkking' %}</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'other_expenses' %}</td>
      <td style="font-weight: bold;opacity: 95%;padding:5px 0;">{% sum_field expenses 'daily_cost' %}</td>
    </tr>
  </tbody>
</table>
<p style="font-weight: bold ; font-size: larger;">Total Cost={{ total_cost }}</p></br>
{% if approved.approved %}
<p>Remarks: {{approved.remark}}</p></br>
{% endif %}

<p style="text-align: center;display: flex;justify-content: space-between;"><span>Employee Sign:
    Approved </span>
  &nbsp;&nbsp;
  <span>HOD Sign:&nbsp;{% if approved.approved %}Approved
    {% else %}&nbsp;__________________ {% endif %}</span>

  <span>Vehicle Incharge: ________________</span>
  <span>Approved by:{% if approved.approved %}&nbsp;{{approved.approved_by.first_name}}
    {{approved.approved_by.last_name}}{% else %}&nbsp;__________________{% endif %}</span>
  <span>Acc Sign: __________________</span>
</p>
<form action="{% url 'pdf' %}" method="get" style="width: 100%;text-align: center;margin-top: 50px;">
  <input type="hidden" name="user" value="{{employeeData.id}}">
  <input type="hidden" name="month" value="{{month}}">
  <input type="hidden" name="year" value="{{year}}">
  <button type="submit" class="btn btn-outline-primary "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
      fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
      <path
        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0" />
    </svg><span>Download PDF</span></button>
</form>

</br>
{% endblock body %}
{% block scripts %}
<script>
  document.getElementById('monthInput').addEventListener('change', function () {
    var selectedDate = this.value; // Format: YYYY-MM
    if (selectedDate) {
      var parts = selectedDate.split('-');
      var year = parts[0];
      var month = parts[1];


      var baseUrl = `{% url 'total_cost' %}?month=${month}&${year}`; // Get the base URL up to the first '0'
      window.location.href = baseUrl;
    }
  });
</script>
{% endblock scripts %}