{% extends "base.html" %}
{% block body %}
<h5> Present days: {{total}} </h5></br>
        <h5> Employee ID: {{user.username}} </h5></br>
        <h5> Employee Name: {{ user.first_name }} {{ user.last_name }} </h5></br>
    <table>
        <thead>
            <tr>
                <th scope="col">Sr. Num</th>
                <th scope="col">Date</th>
                <th scope="col">Punch In Time</th>
                <th scope="col">Punch Out Time</th>
                <th scope="col">Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for i in attendance %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ i.date }}</td>
                <td>{{ i.intime }}</td>
                <td>{{ i.outtime}}</td>
                <td>{{ i.present }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock body %}

    {% block style %}
    
    <style>
      table {
        border-collapse: collapse;
        width: 80%;
        margin: 10px 20px
      }
      
      th, td {
        border: 1px solid black;
        padding: 3px;
        text-align: center;
      }
      h5 {
          margin: 5px 20px
      }
      </style>
      {% endblock style %}