{% extends "base.html" %} {% load static %} {% block body %}
<div class="">

  <div class="text">
    <div class="container">
      {% if user_profile %}
      <div class="image">
        <img src="{{user_profile.profile_picture.url}}" alt="Profile Picture" width="700" height="auto" loading="lazy"
          style="max-height: 85vh" />
      </div>
      <div class="d-flex flex-column w-full h-full justify-content-between gap-1">
        <h1 class="mb-2">{{ user.first_name }} {{ user.last_name }}</h1>
        <span>Employee Id- {{ user.username }}</span>
        <span>Email- {{ user.email }}</span>
        <span> Department- {{ user_profile.department }}</span>
        <span>Designation- {{ user_profile.designation }}</span>
        <span> Vehicle Number- {{ user_profile.vehicle_number }}</span>
        <span>Mobile- {{ user_profile.phone_number }}</span>
        <span>Date of Birth- {{ user_profile.birth_date }}</span>
        <span>Address- {{ user_profile.address }}</span>
        <a href="{% url 'edit_profile' %}" class="btn btn-outline-primary my-3">Edit Profile</a>
      </div>
      {% else %}
      <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center ">
        <p>
          <a href="{% url 'create_profile' %}">Create Profile</a>
        </p>
        <h3>Profile Not Available</h3>
      </div>
      {% endif %}
   
    </div>

    {% endblock body %} {% block style %} {% endblock style %}
  </div>
</div>