{% load static %}
<!doctype html>
<html lang="Eng">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">

  <title>Ellora Natural Seeds Pvt Ltd</title>
  <link rel="icon" type="image/png" href="media/logo.png">

</head>

<body>
  <h1 style="color:green;"> Ellora Natural Seeds Pvt Ltd.</h1>

  <!-- Optional JavaScript; choose one of the two! -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <H4><a class="navbar-brand" href="{% url 'profile' %}">Home</a></H4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'punch_in' %}">Punch In</a>
          <a class="nav-link" href="{% url 'punch_out' %}">Punch Out</a>
          <a class="nav-link" href="{% url 'attendance' %}">Attendance</a>
          <a class="nav-link" href="{% url 'total_cost' %}">Expenses</a>
          <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
        </div>
      </div>
    </div>
  </nav>
  <p>Employee name: {{ user.username }}</p>
  <p>Date: {{ punch_out.date }}</p>
  <p>Time: {{ punch_out.time }}</p>
  <p>From location: {{ punch_out.from_location }}</p>
  <p>To location: {{ punch_out.to_location }}</p>
  <p>Manual Reading: {{ punch_out.manual_reading }}</p>

  {% if punch_out.meter_photo and not punch_out.meter_photo.is_empty %}
  <p>Meter photo: <img src="{{ punch_out.meter_photo.url }}" alt="{{ punch_out.meter_photo.name }}" width="250"
      height="250"></p>
  {% else %}
  <p>No Meter photo available.</p>
  {% endif %}

  {% if punch_out.ticket_photo and not punch_out.ticket_photo.is_empty %}
  <p>Ticket photo: <img src="{{ punch_out.ticket_photo.url }}" alt="{{ punch_out.ticket_photo.name }}" width="250"
      height="250"></p>
  {% else %}
  <p>No ticket photo available.</p>
  {% endif %}

  <p>Ticket Amount: {{ punch_out.ticket_amount }}</p>
  <p>Work status: {{ punch_out.todays_work }}</p>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    -->
</body>

</html>