{% extends "base.html" %}
{% block body %}

<p>Employee name: {{ user.username }}</p>
<p>Date: {{ punch_out.date }}</p>
<p>Time: {{ punch_out.time }}</p>
<p>From location: {{ punch_out.from_location }}</p>
<p>To location: {{ punch_out.to_location }}</p>
<p>Manual Reading: {{ punch_out.manual_reading }}</p>

{% if punch_out.meter_photo and not punch_out.meter_photo.is_empty %}
<p>Meter photo: <img src="{{ punch_out.meter_photo.url }}" alt="{{ punch_out.meter_photo.name }}" width="250"
    height="250"></p>
{% else %}
<p>No Meter photo available.</p>
{% endif %}

{% if punch_out.ticket_photo and not punch_out.ticket_photo.is_empty %}
<p>Ticket photo: <img src="{{ punch_out.ticket_photo.url }}" alt="{{ punch_out.ticket_photo.name }}" width="250"
    height="250"></p>
{% else %}
<p>No ticket photo available.</p>
{% endif %}

<p>Ticket Amount: {{ punch_out.ticket_amount }}</p>
<p>Work status: {{ punch_out.todays_work }}</p>
{% endblock body %}