{% load static %}
<!doctype html>
<html lang="Eng">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">

    <title>Ellora Natural Seeds Pvt Ltd</title>
    <link rel="icon" type="image/png" href="media/logo.png">

  </head>
  <body>
    <h1 style = "color:green;"> Ellora Natural Seeds Pvt Ltd.</h1>

    <!-- Optional JavaScript; choose one of the two! -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <H4><a class="navbar-brand" href="{% url 'profile' %}">Home</a></H4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'punch_in' %}">Punch In</a>
            <a class="nav-link" href="{% url 'punch_out' %}">Punch Out</a>
            <a class="nav-link" href="{% url 'attendance' %}">Attendance</a>
            <a class="nav-link" href="{% url 'total_cost' %}">Expenses</a>
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
          </div>
        </div>
      </div>
    </nav>
    {% if punchin.meter_photo and not punchin.meter_photo.is_empty %}
    <p>Employee Id: {{ user.username }}</p>
    <p>Date: {{ punchin.date }}</p>
    <p>Time: {{ punchin.time }}</p>
    <p>Vehicle type: {{ punchin.get_vehicle_type_display }}</p>
    <p>From location: {{ punchin.from_location }}</p>
    <p>To location: {{ punchin.to_location }}</p>
    <p>Manual Reading: {{ punchin.manual_reading }}</p>
    <p>Ticket Amount: {{ punchin.ticket_amount }}</p>
    <p>Ticket photo: No ticket photo available</p>
    <p>Today's work: {{ punchin.todays_work }}</p>
    <p>Meter photo: <img src="{{ punchin.meter_photo.url }}" alt="{{ punchin.meter_photo.name }}" width="250" height="250"></p>
    
    {% elif punchin in punchin %}
    <p>Employee Id: {{ user.username }}</p>
    <p>Date: {{ punchin.date }}</p>
    <p>Time: {{ punchin.time }}</p>
    <p>Vehicle type: {{ punchin.get_vehicle_type_display }}</p>
    <p>From location: {{ punchin.from_location }}</p>
    <p>To location: {{ punchin.to_location }}</p>
    <p>Manual Reading: {{ punchin.manual_reading }}</p>
    <p>Ticket Amount: {{ punchin.ticket_amount }}</p>
    <p>Ticket photo: <img src="{{ punchin.ticket_photo.url }}" alt="{{ punchin.ticket__photo.name }}" width="250" height="250"></p>
    <p>Today's work: {{ punchin.todays_work }}</p>
    <p>Meter photo: <img src="{{ punchin.meter_photo.url }}" alt="{{ punchin.meter_photo.name }}" width="250" height="250"></p>
   
    {% else %}
    <p>Employee Id: {{ user.username }}</p>
    <p>Date: {{ punchin.date }}</p>
    <p>Time: {{ punchin.time }}</p>
    <p>Vehicle type: {{ punchin.get_vehicle_type_display }}</p>
    <p>From location: {{ punchin.from_location }}</p>
    <p>To location: {{ punchin.to_location }}</p>
    <p>Manual Reading: {{ punchin.manual_reading }}</p>
    <p>Ticket Amount: {{ punchin.ticket_amount }}</p>
    <p>Ticket photo: <img src="{{ punchin.ticket_photo.url }}" alt="{{ punchin.ticket__photo.name }}" width="250" height="250"></p>
    <p>Today's work: {{ punchin.todays_work }}</p>
    <p>No meter photo available</p>
    {% endif %}
</form>
 
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    -->
  </body>
</html>
